@use "./abstracts" as *;

@font-face {
  font-family: "Comfortaa";
  src: url("../assets/fonts/Comfortaa-VariableFont_wght.ttf");
  font-weight: 300 1000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa";
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

header {
  background: rgb(255, 236, 225);
  background: linear-gradient(
    180deg,
    rgba(255, 236, 225, 1) 44%,
    rgba(220, 231, 211, 1) 100%
  );

  //background-color: clr($backgrounds, mistyRose);
}

//Utils
.sectionPadding {
  padding-inline: 2rem;
}

.relative {
  position: relative;
}

.navLinks {
  display: block;
  font-size: 1.8rem;
  color: clr($texts, base);
  font-weight: 500;
}

.navLinks {
  margin-bottom: 1rem;
}

.navLinkAccordion {
  transform: translate(-1rem);
  padding-left: -1rem;
}
